.imgqa {
    object-fit: contain;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imgqa:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}