.container-fluid1 {

    /* width: 80% !important; */
    margin: auto !important;
    /* border: 1px solid #d1d5db; */
}

.image-container {
    width: 200px;
    height: 150px;
}

.image-container img {
    object-fit: contain;
}

.tryAgain {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .1s ease-in-out;
    transition: .3s ease-in-out;
}

.tryAgain:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.container {
    position: relative;
    margin-top: 50px;
    width: 70%;
    height: 450px;
    /* border: 2px solid yellow; */
    margin-left: auto !important;
    margin-right: auto !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .7);
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

/* ReactPlayer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

} */

.title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.container:hover .title {
    top: 90px;
}

.container2 div {
    margin: auto !important;
}

.button {
    position: absolute;
    padding: 12px 48px;
    width: 200px;
    left: 190px;
    top: 200px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    cursor: pointer;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.container:hover .button {
    opacity: 1;
}